*{
    padding: 0px;     
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body,html{
    font-size: 16px;    overflow-x: hidden;
}

:root{
    --corEscura:#232633;
    --corEscura2: #2C333E;
    --corCinza:#D3CDC6;
    --corDestaque:#ece2acb7;
}
/*========= Container========================*/
div#container{
    min-width: 1200px;
    margin: auto;
}

/*========= Header ínicio ==================*/


header #p1{
    display: flex;
    justify-content: space-between;
    background: var(--corEscura);
    color: white;
    width: 100vw;
}

header .caixa{
    width: 33%;
    padding: 20px 0 ;

    display: flex;
    justify-content: center;
}

header #caixa02{
    background: var(--corEscura2);
}
header .caixa img{
    padding-top: 5px;
    margin-right: 12px;
    padding:0;
}

header .caixa h2{
    font-size: 1.2em;
}
header .caixa p{
    font-size: 0.9em;
}
header .caixa input{
    font-size: 1.1em;
    width: 160px;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    outline: none;
}
/*========= Header Fim ==================*/
/*========= Nav ínicio===================*/

nav{
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    position: relative;
    background-color: aquamarine;
    width: 100vw;
    padding: 0 30px;
    height: 17vh;

}

/*----sq---*/
.logo{
    height: 115px;
    width: 30%;
    margin-left: 20px;
    
}
 .logo h2{
    font-size: 5em;
    text-decoration: underline;
    line-height: 90px;
}

 .logo span{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    
}

#check{
    display: none;
}

#btn-c{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
}

#btn-c div{
    background-color: var(--corEscura);
    height: 6px;
    transition: 0.7s;
}

/*----dr---*/
nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
nav li{
    margin: 5px;

}
nav a{
    display: block;
    height: 35px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--corEscura);
    line-height: 35px;
    padding: 3px 5px;
    
}
nav a.a:hover{

    border-top: 0.5px solid var(--corEscura);
    border-bottom: 0.5px solid var(--corEscura);
    
}

#home nav a.home, 
#sobre nav a.sobre, 
#servicos nav a.servicos,
#trabalhe nav a.trabalhe,
#contato nav a.contato{
    background: linear-gradient(45deg, var(--corEscura), transparent);
    color: white;
}


nav ul input {
    padding: 10px 14px;
    font-size: 0.9em;
    text-transform: uppercase;
    border-radius: 100px;
    background-color: var(--corEscura);
    color: white;
    font-weight: bold;
}

/*=========== Nav Fim ========================*/



/*============== Ínicio Main =================*/

/*-------- main p1 -----*/

div#main_p1{
    background: var(--corDestaque) url("imagens/background_03.jpg");
    background-size: cover;
    width: 100vw;
    color: var(--corEscura) ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 6%;
    padding-top: 10%;
    padding-bottom: 5%;
    min-height: 600px;
        
}

div#main_p1 h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(214, 220, 225);
    width: 60vw;
}

div#main_p1 p{
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 40px;
    color: rgb(195, 200, 205);
    width: 60vw;
}

div#main_p1 a{
    display: block;
    background-color: var(--corEscura);
    color: white;
    padding: 10px;
    width: 170px;
    height: 43px;
    text-indent: 35px;
}

/*-------- main p2 -----*/


div#main_p2{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: -80px;
}

div#main_p2 .p2s{
    background-color: var(--corEscura);
    color: white;
    width: 350px;
    height: 280px;
    box-sizing: border-box;
    margin : 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

div#main_p2 .p2s H2{
    font-size: 1.2em;
    padding-top: 70px;
    padding-bottom: 16px;
}

div#main_p2 .p2s P{

}

/*-------- main p3 -----*/

div#main_p3{
    margin-bottom: 100px;
    width: 100vw;
}



div#main_p3 #p3_p1{
    padding: 60px;
    text-align: center;
}
div#main_p3 #p3_p1 h2{
    font-size: 2.3em;
    color: var(--corEscura);
}
div#main_p3 #p3_p1 p{
    font-size: 1.2em;
    color: rgb(167, 162, 162);
}


div#main_p3 #p3_p2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}


div#main_p3 .p3s{
    width: 350px;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-right: 25px;
    
    
}
div#main_p3 .p3s img{
    float: left;
    background-color: var(--corDestaque);
    margin-right: 13px;
    margin-bottom: 60px;
    margin-top: 5px;
    padding: 5px;
}
div#main_p3 .p3s h3{
    margin-bottom: 7px;
    color: var(--corEscura);
}
div#main_p3 .p3s p{
    margin-bottom: 7px;
}

div#main_p3 .p3s a{
    color: var(--corEscura2);
}

/*============== Ínicio P4 ================*/

div#main_p4{
    background-color: var(--corEscura);
    color: white;
    box-sizing: border-box;
    padding: 5%;
    width: 100vw;
    display: flex;
}

/*-------p1---------*/
div#main_p4 #p4_p1{

    box-sizing: border-box;
    width: 40%;
    min-width: 250px;
    min-height: 300px;
    margin-left: 5%;
    order: 2;

}
div#main_p4 #p4_p1 h2{
    font-size: 1.8em;
    margin-bottom: 15px;
}
div#main_p4 #p4_p1 p{
    margin-bottom: 30px;
}


/*-------p2---------*/

div#main_p4 #p4_p2{
    box-sizing: border-box;
    width: 60%;
    min-width: 300px;
    order: 1;
    margin-top: 15%;
}

div#main_p4 #p4_p2 div{
    margin-right: 20px;
    margin-bottom: 10px;
}

div#main_p4 #p4_p2 input{
    padding: 10px;
    background-color: transparent;
    outline: none;
    border:0;
    border-bottom: 1px solid gray;
    font-size: 1.2em;

}

div#main_p4 #p4_p2 label{
    display: block;
}

div#main_p4 #p4_p2 #conjunto{
    display: flex;
    width: 100%;
}
div#main_p4 #p4_p2 #conjunto input{
    width: 98%;
}
div#main_p4 #p4_p2 #ipt_nome{
    width: 100%;
}

div#main_p4 #p4_p2 textarea{
    border: 0px;
    outline: none;
    width: 100%;
    height: 100px;
    background-color: transparent;
    border-bottom: 1px solid gray;
}
div#main_p4 #p4_p2 #btn{
    padding: 12px;
    width: 110px;
    border-radius: 30px;
    background-color: lightgray;
}

/*================== footer ==================*/

footer{
    background-color: var(--corDestaque);
    min-height: 150px;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 20px;
    justify-content: space-around;
}

footer #r,#l{
    width: 220px;

}


footer #r{
    min-width: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}

footer #l{
    width: 100%;
    padding-right:5%;
    text-align: justify;
}
footer #l h3{
    padding: 10px;
}
footer #l p{
    padding: 10px;
}

.logo-f{
    height: 115px;
    width: 30%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
 .logo-f h2{
    font-size: 4em;
    text-decoration: underline;
    line-height: 70px;
}

 .logo-f span{
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bolder;
    
}



@media (max-width:950px){

    body, html{
        /* overflow-x: hidden; */
        font-size: 14px;
    }
    

    ul{
        position: absolute;
        right: 0;
        top: 17vh;
        background-color: var(--corEscura2);
        width: 50vw;
        height: 85vh !important;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s;
        justify-content: center !important;
    }
    ul li a {
        color: white;
        border-bottom: 1px solid aquamarine;
    }

    li a:hover{
        color: aquamarine;
    }

    #check:checked ~ ul{
        transform: translateX(0%);
    }
    #check:checked ~ label .l1{
        transform: rotate(45deg) translate(20px,16px);
    }
    #check:checked ~ label .l2{
        opacity: 0;
    }
    #check:checked ~ label .l3{
        transform: rotate(-45deg) translate(7px,-5px);
    }
    
    #btn-c{
        display: flex;
        width: 45px;
        height: 45px;
    }
    .logo{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo h2{
        font-size: 3em;
        line-height: 50px;
    }
    .logo span{
        font-size: 0.8em;
    }

    /**/

    #p1{
        display: none !important;
    }
    #main_p2 {
        margin-top: 20px !important;
    }

    #main_p4{
        flex-wrap: wrap ;
        justify-content: center;
    }
    #main_p4 #p4_p2{
        width: 90% !important;
        order: 2;
    }
    #main_p4 #p4_p1{
        width: 90% !important;
        order: 1 !important;
        margin: 0 !important;
    }
    #conjunto{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #conjunto input{
        min-width: 120px !important;

    }
}